.header {
    font-family: Arial, sans-serif;
    background-image: url(/assets/img/fundoazul.jpg);
  }
  
  header {
    color: #ffffff;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;

  }
  
  nav {
    /* background-color: #0d053a; */
    padding: 10px;
    border-top: 2px solid #000000;
    padding-left: 22px;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav ul li a {
    color: #ffffff;
    text-decoration: none;
  }
  