<div class="textoinicial">
    <!-- <ul>
        <li><a href="./categorias/acao.html">Ação</a></li>
        <li><a href="./categorias/comedia.html">Comédia</a></li>
        <li><a href="./categorias/drama.html">Drama</a></li>
        <li><a href="./categorias/ficcao.html">Ficção Científica</a></li>
        <li><a href="./categorias/suspense.html">Suspense</a></li>
        <li><a href="./categorias/terror.html">Terror</a></li>
      </ul> -->

      <button><a href="./categorias/acao.html">Ação</a></button>
      <button><a href="./categorias/comedia.html">Comédia</a></button>
      <button><a href="./categorias/drama.html">Drama</a></button>
      <button><a href="./categorias/ficcao.html">Ficção Científica</a></button>
      <button><a href="./categorias/suspense.html">Suspense</a></button>
      <button><a href="./categorias/terror.html">Terror</a></button>
</div>