.textoinicial h2 {
    font-size: 25px;
    color: #000000;
    /* display: flex;
    align-items: center;
    justify-content: center; */
  }

.filme {
    /* margin-bottom: 10px;
    margin-left: 20px;
    padding-left: 30rem; */
    justify-content: center;
  }
  
  .filme h3 {
    font-size: 20px;
    margin-top: 5rem;
    display: block;
    justify-content: center;
  }
  
  .filme img {
    max-width: 300px;
    height: auto;
    margin-bottom: 2px;
    display: flex;
    justify-content: center;
  }
  
  .filme p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.4;
    margin-right: 32.5rem;
    margin-bottom: 50px;
  }