.categoria {
    flex: 0 0 calc(33.3333% - 20px);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .categoria img {
    width: 150px;
    height: 150px;
    text-align: center;
    margin-bottom: 25px;
    object-fit: cover;
  }
  
  .categoria a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    font-size: 25px;
    border: 1px solid #333;
    border-radius: 5px;
  }
  
  .categoria a:hover {
    color: #ffffff;
    background-color: #333;
  }
  