<div class="textoinicial">
    <h1>Filmes de Ficção Cientifica</h1>
    <div class="filme">
        <h3>O Demônio dos Mares
        </h3>
        <img src="assets/img/demoniomares.jpg" alt="Capa do Filme">
        <p>As idílicas férias de uma família se transformam em um pesadelo quando ela encontra um gigantesco tubarão que faz de tudo para proteger seu território. Presa e sob ataque constante, a família precisa encontrar uma maneira de voltar viva para a costa.</p>
      </div>

      <div class="filme">
        <h3>Vida</h3>
        <img src="assets/img/vida.jpg" alt="Capa do Filme">
        <p>Uma equipe de seis astronautas da Estação Espacial Internacional descobre sinais de vida inteligente em Marte e a investigação do fato gera consequências inimagináveis.</p>
      </div>

      <div class="filme">
        <h3>A Coisa</h3>
        <img src="assets/img/coisa.jpg" alt="Capa do Filme">
        <p>A paleontóloga Kate Lloyd viaja para investigar um ser misterioso que foi encontrado por cientistas noruegueses em uma nave espacial no gelo. O que ela não sabe é que a criatura na verdade está viva e que tem planos danosos para o planeta.</p>
      </div>
  </div>