<div class="textoinicial">
    <h2>Filmes de Suspense</h2>
    <div class="filme">
        <h3>Fim dos Tempos</h3>
        <img src="assets/img/fimtempos.jpg" alt="Capa do Filme">
        <p>Uma ameaça apocalíptica chega do céu trazendo uma série de mortes violentas e inexplicáveis que se espalham pelo país. A causa do fenômeno estarrecente permanece desconhecida. O professor de ciências, Elliot Moore, ao lado de sua esposa Alma e seu colega Julian, tenta escapar do assassino invisível indo para a Pensilvânia, mas logo torna-se evidente que ninguém está fora de perigo.</p>
    </div>

    <div class="filme">
        <h3>Voo Noturno</h3>
        <img src="assets/img/voonoturno.jpg" alt="Capa do Filme">
        <p>Lisa Reisert é uma gerente de hotel que detesta voar, mas precisa realizar uma viagem quando sua avó morre. No retorno para casa, ela conhece o charmoso Jackson Rippner no embarque, e fica feliz quando descobre que ele vai sentar ao seu lado no avião. Tudo se transforma em um pesadelo quando, após a decolagem, Jackson diz a Lisa que precisa de sua ajuda para matar um político que se hospedará no hotel em que ela trabalha, ou então ele manda assassinarem o pai dela com uma simples ligação.</p>
    </div>

    <div class="filme">
        <h3>O Culpado</h3>
        <img src="assets/img/culpado.jpg" alt="Capa do Filme">
        <p>Contando com pouquíssimas pistas, um operador de chamadas de emergência tenta salvar a vida uma mulher desesperada.</p>
    </div>
</div>