<div class="corpo">
    <h2>Bem-vindo à CineSearch</h2>

    <p>Aqui você vai encontrar uma ampla seleção de filmes para explorar. Desde os lançamentos mais recentes até os clássicos atemporais, nosso site oferece recursos abrangentes para ajudá-lo a encontrar o filme perfeito para assistir. Além disso, você pode pesquisar por título, atores, diretores e muito mais usando nossa barra de pesquisa intuitiva. Nossa plataforma também apresenta categorias populares, avaliações de filmes, sinopses detalhadas e trailers incorporados para enriquecer sua experiência. Fique à vontade para explorar, criar listas personalizadas, interagir com outros usuários e descobrir filmes incríveis para aproveitar!</p>
</div>